.App {
  text-align: center;
}

.particle {
  min-height: 100vh;
  min-width: 100vW;
}
.temp-banner {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(70px + 2vmin);
  color:black;
  animation: Blink 1s linear ;
  width: 100%;
  position: absolute;
  font-family: fantasy;
}
.App-header {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(70px + 2vmin);
  color: white;
  animation: Blink 1s linear infinite;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: fantasy;
}

@keyframes Blink {
  0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
  8% { opacity: 0; height: 60px; }
  19% { opacity: 1; height: 60px; }
  25% { opacity: 0; height: 60px; }
  100% { opacity: 1; }
}

body {
  background-color:crimson;
  background: radial-gradient(#fec215, #f8a90c);
}

.banner-hide {
  display: none;
}

.banner-show {
  display: flex;
}
#c{
  display: none;
}
